tabs {

}

// Sport icon colors

.tabs-md .tab-button[aria-selected="true"]#tab-t0-0 {
  color: #F95F62;
}

.tabs-md .tab-button[aria-selected="true"]#tab-t0-0 .tab-button-icon {
  color: #F95F62;
}


// Food icon colors

.tabs-md .tab-button[aria-selected="true"]#tab-t0-1 {
  color: #87E990;
}

.tabs-md .tab-button[aria-selected="true"]#tab-t0-1 .tab-button-icon {
  color: #87E990;
}

//profile icon color

.tabs-md .tab-button[aria-selected="true"]#tab-t0-3 {
  color: rgb(0, 0, 0);
}

.tabs-md .tab-button[aria-selected="true"]#tab-t0-3 .tab-button-icon {
  color: rgb(0, 0, 0);

}

.toolbar-background-md {
  background: rgb(78, 78, 78);
}
