page-food-recipes-home {
   

  ion-card-content { font-family : Noto Sans; }
  ion-card-title {font-size:20em; }
  img {height: 400px; width: 450px}


  .title {
    color: gray;
    font-weight: bold;
  }
  .ingredients {
    float : left;
  }

  .directions {
    float : left;
    clear : left;
  }
  .toolbar-background-md {
      background: #87E990;
  }

  .toolbar-title-md {
      color: white;
  }

  .back-button-icon-md {
      color: white;
  }

  .card-background-page {

    ion-card {
      position: relative;
      text-align: center;
    }

    .card-title {
      position: absolute;
      top: 36%;
      font-size: 2.0em;
      width: 100%;
      font-weight: bold;
      color: #fff;
    }

  }

  .scroll-content {
    margin-bottom: 0px !important;
  }


}
