page-profile-home{
  .toolbar-background-md {
    background: rgb(78, 78, 78);
  }

  .toolbar-title-md {
    color: white;
  }

  .back-button-icon-md {
    color: white;
  }

  .toolbar-buttons .icon {
    color:white;
  }

  .icon{
        color:white;
  }

  .profile-page {
        font-family: Noto Sans;

        .badges{
          height: 100px;
          width: auto;
        }
        .toolbar-background {
          background: #fff;
          border-color: transparent;
        }

        .slide-zoom {
          height: 100%;
        }

        .slide-title {
        font-size: 40px;
      }

      .profile-name {
        text-align: right;
        font-weight: bold;
      }
      .avatar {
      //  height: 150%;
       // width: 30%;
        size: 'item-md-avatar-size'
      }
        b {
          font-weight: 500;
        }

        p {
          padding: 0 40px;
          font-size: 14px;
          line-height: 1.5;
          color: #60646B;

          b {
            color: #000000;
          }
        }


      body {
        cursor: url('https://ionicframework.com/img/finger.png'), auto;
      }
      p {
        text-align: center;
        margin-bottom: 20px ;
      }
      .spinner svg {
        width: 19% ;
        height: 85px;
      }
      .scroll-content {
        background-color: #ffffff;
      }

      ion-card-header {
          font-weight: bold;
      }

      ion-card {
        position: relative;
      }
      ion-slides{
        height: fit-content;
      }

      .content {
        text-align: center;
      }

      .container {
        text-align: center;
        width: 250px;
        height: 200px;
        size: auto;
        border-style: solid;
        border-width: 2px;
        display: inline-block;
        margin-top: 30px;
        margin-bottom: 30px ;
        border-radius: 0px 0px 20px 20px;
      }

      .container .containerHeader {
        font-size: 28px;
        color: #fff;
        background-color: rgb(78, 78, 78);
      }

      .container .containerHeader2 {
        font-size: 28px;
        color: #fff;
        background-color: #F95F62;
      }

      .container .containerValue {
        font-size: 70px;
        margin-top: 7px;
      }

      body {
        cursor: url('https://ionicframework.com/img/finger.png'), auto;
      }

      p {
        text-align: center;
        margin-bottom: 40px !important;
      }
      
      .spinner svg {
        width: 19% !important;
        height: 85px !important;
      }
  }
}
