page-sport-workout {

  .toolbar-background-md {
      background: #F95F62;
  }

  .toolbar-title-md {
      color: white;
  }

  .back-button-icon-md {
      color: white;
  }

  .soustitre {
    color: grey;
    font-size: 14px;
  }

}

