page-food-recapmenu {

  .toolbar-background-md {
      background: #87E990;
  }

  .toolbar-title-md {
      color: white;
  }

  .back-button-icon-md {
      color: white;
  }

}

.card-background-page {
  .recapTitle {
    font-size: 26px;
    color: #373E45;
    text-align : center;
    margin-top: 20px;
  }

  .recapContent {
    font-size: 18px;
    color: #373E45;
    text-align : center;
    margin-top: 15px;
  }
}
