page-food-recapmenu {

  .toolbar-background-md {
      background: #87E990;
  }

  .toolbar-title-md {
      color: white;
  }

  .back-button-icon-md {
      color: white;
  }

}

.card-background-page {
  .recapTitle {
    font-size: 32px;
    color: #373E45;
    text-align : center;
    margin-top: 20px;
    font-weight: bold;
  }

  .recapContent {
    font-size: 20px;
    color: #373E45;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
  }

  .nutrition-informations p{
    font-size: 18px;
    margin: 5px;
  }

  .nutrition-title {
    font-weight: bold;
    margin-top: 50px;
    margin-bottom: 20px;
  }

  .menu p {
    font-size: 24px;
  }
}
