<link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">

<ion-header>
  <ion-navbar primary-rose>
    <ion-title>Starters</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="card-background-page">
  <ion-list>
    <ion-item class="buttonList" detail-push *ngFor="let item of items; let i = index" (click)="itemSelected(item.title)">

      <ion-thumbnail item-start>
        <img src="{{item.source}}"/>
      </ion-thumbnail>

      <ion-label>
        <!--<button item-end class="buttonInfo" clear color="dark" ion-button icon-only (click)="onInfoClick($event, i)">
        <ion-icon name="md-information-circle"></ion-icon>
      </button>-->
      {{ item.title }} &nbsp;
      <ul>
        <li *ngFor="let emoji of item.emojis" >
          <i class="{{ emoji }}"></i>
        </li>
      </ul>
      <br/>
      <h2>
        <div class="calories">
          Energy : {{ item.calories }} kcal
          <br/>Fat : {{ item.fat }} g
          <br/>Carbs : {{ item.carbs }} g
          <br/>Proteins : {{ item.proteins }} g

        </div>
      </h2>
    </ion-label>

  </ion-item>



  <!--<ion-item class="buttonList" detail-push *ngFor="let item of items; let i = index" (click)="itemSelected(item.title)">
  {{ item.title }} &nbsp;
  <ul>
  <li *ngFor="let emoji of item.emojis" >
  <i class="{{ emoji }}"></i>
</li>
</ul>
<button item-end class="buttonInfo" clear color="dark" ion-button icon-only (click)="onInfoClick($event, i)">
<ion-icon name="md-information-circle"></ion-icon>
</button>
<br/>
<h2>
<div class="calories">
<p>{{ item.calories }} kcal </p>
</div>
<div class="nutritionInfos" *ngIf="item.show">
<p><b>Nutrition Informations</b>
<br/>Fat : {{ item.fat }} g
<br/>Carbs : {{ item.carbs }} g
<br/>Proteins : {{ item.proteins }} g</p>
</div>
</h2>
</ion-item>-->
</ion-list>
</ion-content>
