page-food-starters {

  .toolbar-background-md {
      background: #87E990;
  }

  .toolbar-title-md {
      color: white;
  }

  .back-button-icon-md {
      color: white;
  }

}

.card-background-page {

  .calories {
    float : left;
  }

  .nutritionInfos {
    float : left;
    clear : left;
  }
  .nutritionInfos p {
    text-align : left;
  }

  ul, li {
    padding: 0;
    list-style: none;
  }

  .buttonInfo {
    float : right;
  }

}
