page-food-starters {

  .item-md ion-thumbnail ion-img, .item-md ion-thumbnail img{
    width: 100px;
    height: 100px;
  }

  .toolbar-background-md {
      background: #87E990;
  }

  .compteur{
    text-align: center;
  }

  .bar-button-md{
    color: white;
    font-size: 1.5rem;
  }

  .toolbar-title-md {
      color: white;
  }

  .back-button-icon-md {
      color: white;
  }

  .footer{
    color: white;
    font-size: 1.5rem;
    width: 100%;
    font-weight: bold;
  }

  ion-badge {
    font-size: 1.6rem;
  }

  .card-background-page {

    ion-card {
      position: relative;
      text-align: center;
    }

    ul, li {
      display : inline;
    }

    .buttonInfo {
      float : right;
    }
    .card-title {
      position: absolute;
      top: 36%;
      font-size: 2.0em;
      width: 100%;
      font-weight: bold;
      color: #fff;
    }

    .card-subtitle {
      font-size: 1.0em;
      position: absolute;
      top: 52%;
      width: 100%;
      color: #fff;
    }

    .calories {
      float : left;
      margin: 0 0 2px;
overflow: inherit;
font-size: 1.4rem;
line-height: normal;
text-overflow: inherit;
color: #666;
    }

    .txtGras {
      font-weight: bold;
      display : inline;
    }

    .nutritionInfos {
      float : left;
      clear : left;
    }
    .nutritionInfos p {
      text-align : left;
    }

    ul, li {
      padding: 0;
      list-style: none;
    }

    .buttonInfo {
      float : right;
    }

    .button-container {
      float: right;
      margin-top: 10px;
      color: #666;
      font-size: 23px;
    }

    .button-container .icon-plus {
      margin-left: 5px;
      margin-right: 7px;
    }

    .button-container .icon-minus {
      margin: 0px;
    }

  }

}
