page-food-challenge {

  .toolbar-background-md {
      background: #87E990;
  }

  .toolbar-title-md {
      color: white;
  }

  .back-button-icon-md {
      color: white;
  }

}



.card-background-page {

  ion-card {
    position: relative;
    text-align: center;
  }

  .card-title {
    position: absolute;
    top: 40%;
    font-size: 2.0em;
    width: 100%;
    font-weight: bold;
    color: #fff;
    text-shadow: 0px 0px 8px #333333;
  }

  .content {
    text-align: center;
  }

  .food-date-container {
    text-align: center;
    width: 150px;
    height: 140px;
    border-style: solid;
    border-width: 2px;
    display: inline-block;
    margin-top: 40px;
  }

  .food-date-container .month {
    font-size: 28px;
    color: #fff;
    background-color: #75CD7E;
  }

  .food-date-container .day {
    font-size: 70px;
    margin-top: 7px;
  }

  .advice {
    font-size: 28px;
    color: #373E45;
    margin-top: 100px;
  }

  .food-checkbox-container {
    margin-top: 70px;
    display: inline-block;
  }

  .food-checkbox-container .done {
    display: flex;
    font-size: 18px;
    color: white;
    background-color: #87E990;
    border-radius: 2px;
  }

  .food-checkbox-container .item-md.item-block .item-inner {
    border:none;
  }

  .food-checkbox-container .item.item-md .checkbox-md {
      margin: 9px 15px 9px 4px;
  }

  .food-checkbox-container .checkbox-md .checkbox-checked .checkbox-inner {
      left: 7px;
      top: 2px;
      width: 7px;
      height: 15px;
  }

  .food-checkbox-container .checkbox-md .checkbox-icon {
    border-color: #fff;
    background-color: #87E990;
    width: 25px;
    height: 25px;

  }

}
